@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #202020;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar:horizontal {
  height: 4px;
} 

::-webkit-scrollbar {
  width: 5px;
}

.hiddenscroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background-color: black; /* Set the color of the track (main bar of the scrollbar) */
}


.Card {
  grid-template-columns: repeat(2, 48.577%);
  overflow: unset !important;
}

.Card_box {
  height: 10rem;
}

@media screen and (min-width: 300px) {
  .Card_box {
      height: 11rem;

  }
}

@media screen and (min-width: 330px) {
  .Card_box {
      height: 13rem;

  }
}

@media screen and (min-width: 390px) {
  .Card_box {
      height: 14rem;

  }
}

@media screen and (min-width: 430px) {
  .Card_box {
      height: 10rem;

  }
}

@media screen and (min-width: 470px) {
  .Card_box {
      height: 11rem;

  }
}

@media screen and (min-width: 530px) {
  .Card_box {
      height: 12rem;

  }
}

@media screen and (min-width: 580px) {
  .Card_box {
      height: 13rem;

  }
}

@media screen and (min-width: 610px) {
  .Card_box {
      height: 14rem;

  }
}

@media screen and (min-width: 870px) {
  .Card_box {
      height: 16rem;

  }
}

@media screen and (min-width: 960px) {
  .Card_box {
      height: 15rem;

  }
}

@media screen and (min-width: 1050px) {
  .Card_box {
      height: 16rem;

  }
}

@media screen and (min-width: 1180px) {
  .Card_box {
      height: 15rem;

  }
}

@media screen and (min-width: 1300px) {
  .Card_box {
      height: 17rem;

  }
}

@media screen and (min-width: 1440px) {
  .Card_box {
      height: 16rem;

  }
}

@media screen and (min-width: 1520px) {
  .Card_box {
      height: 17rem;

  }
}

@media screen and (min-width: 1710px) {
  .Card_box {
      height: 17rem;

  }
}

@media screen and (min-width: 1860px) {
  .Card_box {
      height: 18rem;

  }
}

@media screen and (min-width: 2000px) {
  .Card_box {
      height: 19rem;

  }
}

@media screen and (min-width: 2250px) {
  .Card_box {
      height: 20rem;

  }
}

@media screen and (min-width: 2150px) {
  .Card_box {
      height: 20rem;

  }
}

@media screen and (min-width: 2500px) {
  .Card_box {
      height: 22rem;

  }
}


@media screen and (min-width: 430px) {
  .Card {
      grid-template-columns: repeat(3, 32.5%);
      gap: 0.5rem;
      overflow: unset !important;

  }
}

@media screen and (min-width: 700px) {
  .Card {
      grid-template-columns: repeat(4, 24.24%);
      gap: 0.5rem;
      overflow: unset !important;

  }
}

@media screen and (min-width: 960px) {
  .Card {
      grid-template-columns: repeat(5, 19.3%);
      gap: 0.5rem;
      overflow: unset !important;

  }
}

@media screen and (min-width: 1180px) {
  .Card {
      grid-template-columns: repeat(6, 16.06%);
      gap: 0.5rem;
      overflow: unset !important;

  }
}

@media screen and (min-width: 1440px) {
  .Card {
      grid-template-columns: repeat(7, 13.79%);
      gap: 0.5rem;
      overflow: unset !important;

  }
}

@media screen and (min-width: 1670px) {
  .Card {
      grid-template-columns: repeat(8, 11.899%);
      gap: 0.75rem;
      overflow: unset !important;

  }
}

@media screen and (min-width: 2310px) {
  .Card {
      grid-template-columns: repeat(9, 10.65%);
      gap: 0.75rem;
      overflow: unset !important;

  }
}


