@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background: #0c0c0c; 
}
/* #0a0a0a */

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar:horizontal {
  height: 4px;
} 

::-webkit-scrollbar {
  width: 5px;
}

.hiddenscroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background-color: black;
}

.Card {
  grid-template-columns: repeat(2, 48.577%);
  overflow: unset !important;
}

.Card_box {
  height: 10rem;
}

@media screen and (min-width: 300px) {
  .Card_box {
      height: 11rem;

  }
}

@media screen and (min-width: 330px) {
  .Card_box {
      height: 13rem;

  }
}

@media screen and (min-width: 390px) {
  .Card_box {
      height: 14rem;

  }
}

@media screen and (min-width: 430px) {
  .Card_box {
      height: 10rem;

  }
}

@media screen and (min-width: 470px) {
  .Card_box {
      height: 11rem;

  }
}

@media screen and (min-width: 530px) {
  .Card_box {
      height: 12rem;

  }
}

@media screen and (min-width: 580px) {
  .Card_box {
      height: 13rem;

  }
}

@media screen and (min-width: 610px) {
  .Card_box {
      height: 14rem;

  }
}

@media screen and (min-width: 870px) {
  .Card_box {
      height: 16rem;

  }
}

@media screen and (min-width: 960px) {
  .Card_box {
      height: 15rem;

  }
}

@media screen and (min-width: 1050px) {
  .Card_box {
      height: 16rem;

  }
}

@media screen and (min-width: 1180px) {
  .Card_box {
      height: 15rem;

  }
}

@media screen and (min-width: 1300px) {
  .Card_box {
      height: 17rem;

  }
}

@media screen and (min-width: 1440px) {
  .Card_box {
      height: 16rem;

  }
}

@media screen and (min-width: 1520px) {
  .Card_box {
      height: 17rem;

  }
}

@media screen and (min-width: 1710px) {
  .Card_box {
      height: 17rem;

  }
}

@media screen and (min-width: 1860px) {
  .Card_box {
      height: 18rem;

  }
}

@media screen and (min-width: 2000px) {
  .Card_box {
      height: 19rem;

  }
}

@media screen and (min-width: 2250px) {
  .Card_box {
      height: 20rem;

  }
}

@media screen and (min-width: 2150px) {
  .Card_box {
      height: 20rem;

  }
}

@media screen and (min-width: 2500px) {
  .Card_box {
      height: 22rem;

  }
}


@media screen and (min-width: 430px) {
  .Card {
      grid-template-columns: repeat(3, 32.5%);
      gap: 0.5rem;
      overflow: unset !important;

  }
}

@media screen and (min-width: 700px) {
  .Card {
      grid-template-columns: repeat(4, 24.24%);
      gap: 0.5rem;
      overflow: unset !important;

  }
}

@media screen and (min-width: 960px) {
  .Card {
      grid-template-columns: repeat(5, 19.3%);
      gap: 0.5rem;
      overflow: unset !important;

  }
}

@media screen and (min-width: 1180px) {
  .Card {
      grid-template-columns: repeat(6, 16.06%);
      gap: 0.5rem;
      overflow: unset !important;

  }
}

@media screen and (min-width: 1440px) {
  .Card {
      grid-template-columns: repeat(7, 13.79%);
      gap: 0.5rem;
      overflow: unset !important;

  }
}

@media screen and (min-width: 1670px) {
  .Card {
      grid-template-columns: repeat(8, 11.899%);
      gap: 0.75rem;
      overflow: unset !important;

  }
}

@media screen and (min-width: 2310px) {
  .Card {
      grid-template-columns: repeat(9, 10.65%);
      gap: 0.75rem;
      overflow: unset !important;

  }
}
.swiper-button-prev, .swiper-button-next {
  color: #fff; 
  background-color: #15161533;
  width: 40px; 
  height: 16.5rem;
  top: 1.8rem;  
}
@media (min-width: 768px) {
  .swiper-button-prev, .swiper-button-next {
    width: 40px;
    height: 18rem;
    top: 1.8rem; 
  }
}
.swiper-button-prev{
  left: -0.25rem;
}
.swiper-button-next{
  right: 0.001rem;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: #0b0c0b38;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
}

#opacity-layer-info {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .7411764706) 100%);}

  .filter-options {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: .25rem;
    padding-bottom: 0
}

@media(min-width: 640px) {
    .filter-options {
        width:33.333333%
    }
}

@media(min-width: 768px) {
    .filter-options {
        width:25%
    }
}

@media(min-width: 1024px) {
    .filter-options {
        width:20%
    }
}